extends layout

block content

  body.hold-transition
    .content
      .content
        // Content Header (Page header) 
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                ol.breadcrumb.float-sm-right           
          // /.container-fluid 
        // Main content 
        section.content
          .error-page
            h2.headline.text-warning 404
            .error-content
              h3
                i.fas.fa-exclamation-triangle.text-warning
                | Oops! Página não encontrada.
              p
                | Não conseguimos encontrar o que você estava procurando. Caso queira, 
                a(href='home') clique aqui
                |  para voltar a página inicial.                
              img(src='https://i.imgur.com/MLv9XJQ.gif')
            // /.input-group 
            // /.error-content 
          // /.error-page 
        // /.content 
      // /.content-wrapper 
      aside.control-sidebar.control-sidebar-dark
        // Control sidebar content goes here 
      // /.control-sidebar 
    // ./wrapper 
    // jQuery 
    script(src='../../plugins/jquery/jquery.min.js')
    // Bootstrap 4 
    script(src='../../plugins/bootstrap/js/bootstrap.bundle.min.js')
    // AdminLTE App 
    script(src='../../dist/js/adminlte.min.js')
    // AdminLTE for demo purposes 
    script(src='../../dist/js/demo.js')