extends layout

block content
  .login
    .login-box
      .login-logo
        .card.col-mb-4
          .card-body.login-card-body
            h2.login-box-msg Vision
              h3 Login
            br
            form(name ="loginForm" action="javascript:validateLogin()" id="error")
              .input-group.mb-4
                input.form-control(id="1" name ="email" type='email', placeholder='Email' required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-envelope
              br      
              .input-group.mb-4
                input.form-control(id="2" name="senha" type='password', placeholder='Password' required)
                .input-group-append(id="4")
                  .input-group-text
                    span.fas.fa-lock
              br   
              .row               
                .col-4
                  button.btn.btn-primary.a(type="submit") Login
                // /.col
            br 
            p.mb-0
              a.text-center(href='register') Não tenho um cadastro
            div(id="particles-js")  
  canvas(class="background")