extends layout

block content
  .login
    .login-box
      .login-logo
        h1.logo Super Secret Project
          br
        .card.col-mb-4
          .card-body.login-card-body
            h2.login-box-msg Login
            br
            form(action='../../index3.html', method='post')
              .input-group.mb-4
                input.form-control(name ="email" type='email', placeholder='Email')
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-envelope
              br      
              .input-group.mb-4
                input.form-control(name="senha" type='password', placeholder='Password')
                .input-group-append
                  .input-group-text
                    span.fas.fa-lock
              br      
              .row
                .col-8
                  .icheck-primary
                    input#remember(type='checkbox')
                    label(for='remember')    
                      h5   Remember Me
                // /.col 
                .col-4
                  button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
                // /.col 
              br 
              p - OR -
              br

              a.btn.btn-block.btn-primary(href='#')
                i.fab.fa-facebook.mr-2
                | Sign in using Facebook
            // /.social-auth-links 
            br
            p.mb-1
              a(href='#') I forgot my password
            br  
            p.mb-0
              a.text-center(href='views/register.pug') Register a new membership