doctype html
html
  head
    title= "Vision"
   
    
    //Particles.js

    script(src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js")
    script(src='javascripts/particles.js')
    script(src='javascripts/particles.min.js')


    //Axios

    script(src="https://unpkg.com/axios/dist/axios.min.js")

    //Admin-lte

    link(rel='stylesheet', href='stylesheets/admin-lte/plugins/fontawesome-free/css/all.min.css')
    link(rel='stylesheet', href='stylesheets/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
    link(rel='stylesheet', href='stylesheets/admin-lte/dist/css/adminlte.min.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
    link(rel="stylesheet" href="stylesheets/css/test.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="stylesheets/admin-lte/dist/css/adminlte.min.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet")
    script(src='javascripts/index.js')
    script(src='javascripts/login.js')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
    script(src='javascripts/register.js')

    //Sweet Alert

    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js')
    link(rel='stylesheet', href='stylesheets/admin-lte/plugins/sweetalert2/sweetalert2.min.css')


    //MDB

    link(rel="stylesheet" href="stylesheets/mdb/css/mdb.min.css")
    link(rel="stylesheet" href="stylesheets/mdb/css/mdb.css")
    link(rel="stylesheet" href="stylesheets/mdb/css/mdb.lite.css")
    link(rel="stylesheet" href="stylesheets/mdb/css/mdb.lite.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js")

    body
    block content
