extends layout

block content
  .login
    .login-box
      .login-logo
        .card.col-mb-4
          .card-body.login-card-body
            h2.login-box-msg Vision
              h3 New
            br
            form(name ="loginForm" action="javascript:validateLogin()" id="error")
              .input-group.mb-4
                input.form-control(id="1" name ="email" type='email', placeholder='Email' required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-envelope    
              .input-group.mb-4
                input.form-control(id="2" name="senha" type='password', placeholder='Password' required)
                .input-group-append(id="4")
                  .input-group-text
                    span.fas.fa-lock
              .form-check
                input.form-check-input(type='checkbox' onclick="showPassword()")
                label.form-check-label() Mostrar senha       
              br
              .row               
                .col-4
                  button.btn.btn-primary.a(type="submit") Login
                // /.col
            br
            p.mb-0
              a.text-center(href='register') Não tenho um cadastro
            p.mb-0
              a.text-center(data-toggle='modal' data-target='#modal-default') Esqueci minha senha
            .modal.fade#modal-default
              .modal-dialog
                .modal-content
                  .modal-header
                    h4.modal-title Esqueceu a senha?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    form(name="sendEmailform" action="javascript:sendPasswordEmail()")
                      div(class="form-group")
                        .input-group.mb-4                        
                          small(id="descHelp" class="form-text text-muted") Para mandarmos sua senha, será necessário inserir o e-mail informado durante o cadastro.
                          input.form-control(id="modal1" name ="email" type='email', placeholder='Email cadastrado' required)                          
                          .input-group-append
                            .input-group-text.font-size
                              span.fas.fa-envelope  
                        p.mb-4
                          a.text-center(href='register' data-toggle='modal', data-target='#modal-default') Esqueci minha senha                 
                      button(class="btn btn-primary" type="submit") Enviar
            .modal.fade#modal-default1
              .modal-dialog
                .modal-content
                  .modal-header
                    h4.modal-title Nova Senha
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    form(name="sendNewPassword" action="javascript:newPassword()")
                      div(class="form-group")
                        .input-group.mb-4  
                          input.form-control(id="modal2" name ="password" type='password', placeholder='Nova Senha' required)                          
                          .input-group-append
                            .input-group-text.font-size
                              span.fas.fa-lock
                        .input-group.mb-4      
                          input.form-control(id="modal3" name ="confirm_password" type='password', onBlur="javascript:validarSenhaProfile()" placeholder='Confirmação de Senha' required)
                          .input-group-append
                            .input-group-text.font-size
                              span.fas.fa-lock            
                      button(class="btn btn-primary" type="submit") Enviar         
            div(id="particles-js")  
  canvas(class="background")