extends layout

block content
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar 
      nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
        // Left navbar links 
        ul.navbar-nav
          li.nav-item
            a.nav-link(data-widget='pushmenu', href='#')
              i.fas.fa-bars
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='stylesheets/admin-lte/index3.html') Home
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='#') Contact
        // SEARCH FORM 
        form.form-inline.ml-3
          .input-group.input-group-sm
            input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
            .input-group-append
              button.btn.btn-navbar(type='submit')
                i.fas.fa-search
        // Right navbar links 
        ul.navbar-nav.ml-auto
          // Messages Dropdown Menu 
          li.nav-item.dropdown
            a.nav-link(data-toggle='dropdown', href='#')
              i.far.fa-comments
              span.badge.badge-danger.navbar-badge 3
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
              a.dropdown-item(href='#')
                // Message Start 
                .media
                  img.img-size-50.mr-3.img-circle(src='stylesheets/admin-lte/dist/img/user1-128x128.jpg', alt='User Avatar')
                  .media-body
                    h3.dropdown-item-title
                      | Brad Diesel
                      span.float-right.text-sm.text-danger
                        i.fas.fa-star
                    p.text-sm Call me whenever you can...
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      | 4 Hours Ago
                // Message End 
              .dropdown-divider
              a.dropdown-item(href='#')
                // Message Start 
                .media
                  img.img-size-50.img-circle.mr-3(src='stylesheets/admin-lte/dist/img/user8-128x128.jpg', alt='User Avatar')
                  .media-body
                    h3.dropdown-item-title
                      | John Pierce
                      span.float-right.text-sm.text-muted
                        i.fas.fa-star
                    p.text-sm I got your message bro
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      | 4 Hours Ago
                // Message End 
              .dropdown-divider
              a.dropdown-item(href='#')
                // Message Start 
                .media
                  img.img-size-50.img-circle.mr-3(src='stylesheets/admin-lte/dist/img/user3-128x128.jpg', alt='User Avatar')
                  .media-body
                    h3.dropdown-item-title
                      | Nora Silvester
                      span.float-right.text-sm.text-warning
                        i.fas.fa-star
                    p.text-sm The subject goes here
                    p.text-sm.text-muted
                      i.far.fa-clock.mr-1
                      | 4 Hours Ago
                // Message End 
              .dropdown-divider
              a.dropdown-item.dropdown-footer(href='#') See All Messages
          // Notifications Dropdown Menu 
          li.nav-item.dropdown
            a.nav-link(data-toggle='dropdown', href='#')
              i.far.fa-bell
              span.badge.badge-warning.navbar-badge 15
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
              span.dropdown-item.dropdown-header 15 Notifications
              .dropdown-divider
              a.dropdown-item(href='#')
                i.fas.fa-envelope.mr-2
                | 4 new messages
                span.float-right.text-muted.text-sm 3 mins
              .dropdown-divider
              a.dropdown-item(href='#')
                i.fas.fa-users.mr-2
                | 8 friend requests
                span.float-right.text-muted.text-sm 12 hours
              .dropdown-divider
              a.dropdown-item(href='#')
                i.fas.fa-file.mr-2
                | 3 new reports
                span.float-right.text-muted.text-sm 2 days
              .dropdown-divider
              a.dropdown-item.dropdown-footer(href='#') See All Notifications
          li.nav-item
            a.nav-link(data-widget='control-sidebar', data-slide='true', href='#')
              i.fas.fa-th-large
      // /.navbar 
      // Main Sidebar Container 
      aside.main-sidebar.sidebar-dark-primary.elevation-4
        // Brand Logo 
        a.brand-link(href='stylesheets/admin-lte/index3.html')
          img.brand-image.img-circle.elevation-3(src='stylesheets/admin-lte/dist/img/AdminLTELogo.png', alt='AdminLTE Logo', style='opacity: .8')
          span.brand-text.font-weight-light AdminLTE 3
        // Sidebar 
        .sidebar
          // Sidebar user (optional) 
          .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
              img.img-circle.elevation-2(src='stylesheets/admin-lte/dist/img/user2-160x160.jpg', alt='User Image')
            .info
              a.d-block(href='profile') Pedro Missaglia
          // Sidebar Menu 
          nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
              //                 Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library 
              li.nav-item.has-treeview.menu-open
                a.nav-link.active(href='#')
                  i.nav-icon.fas.fa-tachometer-alt
                  p
                    | Dashboard
                    i.right.fas.fa-angle-left
              li.nav-item.has-treeview
                a.nav-link(href='#')
                  i.nav-icon.fas.fa-table
                  p
                    | Cadastros
                    i.fas.fa-angle-left.right
                ul.nav.nav-treeview
                  li.nav-item
                    a.nav-link(href='pages/forms/editors.html')
                        i.far.fa-circle.nav-icon
                        p Produtos
          // /.sidebar-menu 
        // /.sidebar 
      // Content Wrapper. Contains page content 
      .content-wrapper
        // Content Header (Page header) 
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1 Profile
              .col-sm-6
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href='Home') Home
                  li.breadcrumb-item.active User Profile
          // /.container-fluid 
        // Main content 
        section.content
          .container-fluid
            .row
              .col-md-3
                // Profile Image 
                .card.card-primary.card-outline
                  .card-body.box-profile
                    .text-center
                      img.profile-user-img.img-fluid.img-circle(src='stylesheets/admin-lte/dist/img/user2-160x160.jpg', alt='User Image')
                    h3.profile-username.text-center Nina Mcintire
                    p.text-muted.text-center Software Engineer
                    ul.list-group.list-group-unbordered.mb-3
                      li.list-group-item
                        b Followers
                        a.float-right 1,322
                      li.list-group-item
                        b Following
                        a.float-right 543
                      li.list-group-item
                        b Friends
                        a.float-right 13,287
                    a.btn.btn-primary.btn-block(href='#')
                      b Follow
                  // /.card-body 
                // /.card 
                // About Me Box 
                .card.card-primary
                  .card-header
                    h3.card-title About Me
                  // /.card-header 
                  .card-body
                    strong
                      i.fas.fa-book.mr-1
                      | Education
                    p.text-muted B.S. in Computer Science from the University of Tennessee at Knoxville
                    hr
                    strong
                      i.fas.fa-map-marker-alt.mr-1
                      | Location
                    p.text-muted Malibu, California
                    hr
                    strong
                      i.fas.fa-pencil-alt.mr-1
                      | Skills
                    p.text-muted
                      span.tag.tag-danger UI Design
                      span.tag.tag-success Coding
                      span.tag.tag-info Javascript
                      span.tag.tag-warning PHP
                      span.tag.tag-primary Node.js
                    hr
                    strong
                      i.far.fa-file-alt.mr-1
                      | Notes
                    p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
                  // /.card-body 
                // /.card 
              // /.col 
              .col-md-9
                .card
                  .card-header.p-2
                    ul.nav.nav-pills
                      li.nav-item
                        a.nav-link.active(href='#activity', data-toggle='tab') Activity
                      li.nav-item
                        a.nav-link(href='#timeline', data-toggle='tab') Timeline
                      li.nav-item
                        a.nav-link(href='#Editprofile', data-toggle='tab') Edit profile
                  // /.card-header 
                  .card-body
                    .tab-content
                      .active.tab-pane#activity
                        // Post 
                        .post
                          .user-block
                            img.img-circle.img-bordered-sm(src='stylesheets/admin-lte/dist/img/user1-128x128.jpg', alt='user image')
                            span.username
                              a(href='#') Jonathan Burke Jr.
                              a.float-right.btn-tool(href='#')
                                i.fas.fa-times
                            span.description Shared publicly - 7:30 PM today
                          // /.user-block 
                          p Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for its demise, but others ignore the hate as they create awesome tools to help create filler text for everyone from bacon lovers to Charlie Sheen fans.
                          p
                            a.link-black.text-sm.mr-2(href='#')
                              i.fas.fa-share.mr-1
                              | Share
                            a.link-black.text-sm(href='#')
                              i.far.fa-thumbs-up.mr-1
                              | Like
                            span.float-right
                              a.link-black.text-sm(href='#')
                                i.far.fa-comments.mr-1
                                | Comments (5)
                          input.form-control.form-control-sm(type='text', placeholder='Type a comment')
                        // /.post 
                        // Post 
                        .post.clearfix
                          .user-block
                            img.img-circle.img-bordered-sm(src='stylesheets/admin-lte/dist/img/user7-128x128.jpg', alt='User Image')
                            span.username
                              a(href='#') Sarah Ross
                              a.float-right.btn-tool(href='#')
                                i.fas.fa-times
                            span.description Sent you a message - 3 days ago
                          // /.user-block 
                          p Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for its demise, but others ignore the hate as they create awesome tools to help create filler text for everyone from bacon lovers to Charlie Sheen fans.
                          form.form-horizontal
                            .input-group.input-group-sm.mb-0
                              input.form-control.form-control-sm(placeholder='Response')
                              .input-group-append
                                button.btn.btn-danger(type='submit') Send
                        // /.post 
                        // Post 
                        .post
                          .user-block
                            img.img-circle.img-bordered-sm(src='stylesheets/admin-lte/dist/img/user6-128x128.jpg', alt='User Image')
                            span.username
                              a(href='#') Adam Jones
                              a.float-right.btn-tool(href='#')
                                i.fas.fa-times
                            span.description Posted 5 photos - 5 days ago
                          // /.user-block 
                          .row.mb-3
                            .col-sm-6
                              img.img-fluid(src='stylesheets/admin-lte/dist/img/photo1.png', alt='Photo')
                            // /.col 
                            .col-sm-6
                              .row
                                .col-sm-6
                                  img.img-fluid.mb-3(src='stylesheets/admin-lte/dist/img/photo2.png', alt='Photo')
                                  |  
                                  img.img-fluid(src='stylesheets/admin-lte/dist/img/photo3.jpg', alt='Photo')
                                // /.col 
                                .col-sm-6
                                  img.img-fluid.mb-3(src='stylesheets/admin-lte/dist/img/photo4.jpg', alt='Photo')
                                  |  
                                  img.img-fluid(src='stylesheets/admin-lte/dist/img/photo1.png', alt='Photo')
                                // /.col 
                              // /.row 
                            // /.col 
                          // /.row 
                          p
                            a.link-black.text-sm.mr-2(href='#')
                              i.fas.fa-share.mr-1
                              | Share
                            a.link-black.text-sm(href='#')
                              i.far.fa-thumbs-up.mr-1
                              | Like
                            span.float-right
                              a.link-black.text-sm(href='#')
                                i.far.fa-comments.mr-1
                                | Comments (5)
                          input.form-control.form-control-sm(type='text', placeholder='Type a comment')
                        // /.post 
                      // /.tab-pane 
                      .tab-pane#timeline
                        // The timeline 
                        .timeline.timeline-inverse
                          // timeline time label 
                          .time-label
                            span.bg-danger 10 Feb. 2014
                          // /.timeline-label 
                          // timeline item 
                          div
                            i.fas.fa-envelope.bg-primary
                            .timeline-item
                              span.time
                                i.far.fa-clock
                                | 12:05
                              h3.timeline-header
                                a(href='#') Support Team
                                | sent you an email
                              .timeline-body Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora plaxo ideeli hulu weebly balihoo...
                              .timeline-footer
                                a.btn.btn-primary.btn-sm(href='#') Read more
                                a.btn.btn-danger.btn-sm(href='#') Delete
                          // END timeline item 
                          // timeline item 
                          div
                            i.fas.fa-user.bg-info
                            .timeline-item
                              span.time
                                i.far.fa-clock
                                | 5 mins ago
                              h3.timeline-header.border-0
                                a(href='#') Sarah Young
                                | accepted your friend request
                          // END timeline item 
                          // timeline item 
                          div
                            i.fas.fa-comments.bg-warning
                            .timeline-item
                              span.time
                                i.far.fa-clock
                                | 27 mins ago
                              h3.timeline-header
                                a(href='#') Jay White
                                | commented on your post
                              .timeline-body Take me to your leader! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood!
                              .timeline-footer
                                a.btn.btn-warning.btn-flat.btn-sm(href='#') View comment
                          // END timeline item 
                          // timeline time label 
                          .time-label
                            span.bg-success 3 Jan. 2014
                          // /.timeline-label 
                          // timeline item 
                          div
                            i.fas.fa-camera.bg-purple
                            .timeline-item
                              span.time
                                i.far.fa-clock
                                | 2 days ago
                              h3.timeline-header
                                a(href='#') Mina Lee
                                | uploaded new photos
                              .timeline-body
                                img(src='http://placehold.it/150x100', alt='...')
                                |  
                                img(src='http://placehold.it/150x100', alt='...')
                                |  
                                img(src='http://placehold.it/150x100', alt='...')
                                |  
                                img(src='http://placehold.it/150x100', alt='...')
                          // END timeline item 
                          div
                            i.far.fa-clock.bg-gray
                      // /.tab-pane 
                      .tab-pane#Editprofile
                        form.form-horizontal(name ="ProfileForm" action="javascript:profileForm()"  id="error")
                          .form-group
                            label.col-sm-2.control-label(for='inputName') Nome
                            .input-group.mb-3
                              input.form-control(id="1" type='text', placeholder='Nome')
                              .input-group-append
                                span.input-group-text
                                  i.fas.fa-user-circle
                            label.col-sm-2.control-label(for='inputCPF') CPF
                            .input-group.mb-3
                              input.form-control(id="2" name ="cpf" type='text', placeholder='CPF' onBlur="javascript:ValidarCPF(ProfileForm.cpf)" onKeyPress="javascript:MascaraCPF(ProfileForm.cpf)" maxlength="14")
                              .input-group-append
                                span.input-group-text
                                  i.fas.fa-id-card
                            label.col-sm-4.control-label(for='inputDate') Data de nascimento
                            .input-group.mb-3
                              input.form-control(id="3" type='date', placeholder='Data de nascimento')
                              .input-group-append
                                span.input-group-text
                                  i.fas.fa-calendar-alt
                            label.col-sm-2.control-label(for='inputEmail') Email
                            .input-group.mb-3
                              input.form-control(id="4" type='email', placeholder='Email')
                              .input-group-append
                                span.input-group-text
                                  i.fas.fa-envelope
                            label.col-sm-4.control-label(for='inputToken') Número do Token
                            .input-group.mb-3
                              input.form-control(id="5" type='text', placeholder='Número do Token')
                              .input-group-append
                                span.input-group-text
                                  i.fas.fa-key
                            .col-sm-offset-2.col-sm-10
                              button.btn.btn-primary(type='submit') Confirmar
                        p.mb-2
                          a.text-center(href='register' data-toggle='modal', data-target='#modal-default') Trocar minha senha
            .modal.fade#modal-default
              .modal-dialog
                .modal-content
                  .modal-header
                    h4.modal-title Alteração da senha
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    form(name="sendEmailform" action="javascript:sendPasswordEmail()")
                      div(class="form-group")
                        .input-group.mb-4                        
                          small(id="descHelp" class="form-text text-muted") Para alterarmos sua senha, será necessário inserir o e-mail informado durante o cadastro.
                          input.form-control(id="modal1" name ="email" type='email', placeholder='Email cadastrado' required)                          
                          .input-group-append
                            .input-group-text.font-size
                              span.fas.fa-envelope  
                      button(class="btn btn-primary" type="submit") Enviar
                      // /.tab-pane 
                    // /.tab-content 
                  // /.card-body 
                // /.nav-tabs-custom 
              // /.col 
            // /.row 
          // /.container-fluid 
        // /.content 
      // /.content-wrapper 
      footer.main-footer
        .float-right.d-none.d-sm-block
          b Version
          | 3.0.0-rc.1
        strong
          | Copyright Â© 2014-2019
          a(href='http://adminlte.io') AdminLTE.io
          | .
        | All rights reserved.
      // Control Sidebar 
      aside.control-sidebar.control-sidebar-dark
        // Control sidebar content goes here 
      // /.control-sidebar 
    // ./wrapper 