extends layout
block content
  .login
    .login-box
      .login-logo
        .card.col-mb-4
          .card-body.login-card-body
            h2.login-box-msg Vision
              h3 Cadastro
            br
            form(name ="RegisterForm" action="javascript:validateForm()"  id="error")
              .input-group.mb-4
                input.form-control(id="1" name ="nome" type='text', placeholder='Nome' required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-user-circle
              .input-group.mb-4
                input.form-control(id="2" name ="cpf" type='text', placeholder='CPF' onBlur="javascript:ValidarCPF(RegisterForm.cpf)" onKeyPress="javascript:MascaraCPF(RegisterForm.cpf)" maxlength="14" required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-id-card
              .input-group.mb-4
                input.form-control(id="3" name ="birthdate" type='date', placeholder='Data de nascimento' required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-calendar-alt
              .input-group.mb-4
                input.form-control(id="4" name ="email" type='email', placeholder='Email' required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-at    
              .input-group.mb-4
                input.form-control(id="5" name ="autenticacao" type='text', placeholder="Número do Token" maxlength="40" required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-key    
              .input-group.mb-4
                input.form-control(id="6" name="senha" type='password', placeholder='Password' maxlength="8" required)
                .input-group-append
                  .input-group-text
                    span.fas.fa-lock
              .input-group.mb-4
                input.form-control(id="7" name="resenha" type='password', placeholder='Password again' onBlur="javascript:validarSenha()" maxlength="8" required)
                .input-group-append
                  .input-group-text
                    span.fas.fa-lock      
              br      
              .row               
                .col-4
                  button.align-center.btn.btn-primary.a(type="submit" style= 'margin-left: 70px;') Registre-se
              br    
            p.mb-0
              a.text-center(href='/') Já tenho um cadastro
            div(id="particles-js")
  script(src='javascripts/index.js')                  
  canvas(class="background")