extends layout

block content
  .login
    .login-box
      .login-logo
        .card.col-mb-4
          .card-body.login-card-body
            h2.login-box-msg Sign Up
              h3 Super Secret Project
            br
            form(name ="loginForm" onsubmit="validateForm()")
              .input-group.mb-4
                input.form-control(id="1" name ="nome" type='text', placeholder='Nome' required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-envelope
              .input-group.mb-4
                input.form-control(id="2" name ="email" type='email', placeholder='Email' required)
                .input-group-append
                  .input-group-text.font-size
                    span.fas.fa-envelope    
              .input-group.mb-4
                input.form-control(id="3" name="senha" type='password', placeholder='Password' required)
                .input-group-append
                  .input-group-text
                    span.fas.fa-lock
              .input-group.mb-4
                input.form-control(id="4" name="resenha" type='password', placeholder='Password again' required)
                .input-group-append
                  .input-group-text
                    span.fas.fa-lock      
              br      
              .row               
                .col-4
                  button.btn.btn-primary.a(type="submit") Sign Up
              br    
            p.mb-0
              a.text-center(href='/') Alredy a membership
            div(id="particles-js")  
  canvas(class="background")